<div class="container-fluid">
  <app-page-title title="Transactions" [breadcrumbItems]="breadCrumbItems"></app-page-title>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mt-0 mb-1">TopStar Transactions</h4>
          <p class="text-muted font-13 mb-4">

          </p>
          <!-- Sort -->
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="transactionsService.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div>
            <!-- End sort -->

            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="transactionsService.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Transactions table -->
          <ng-container *ngIf="empty$; else showTable">
            <div class="d-flex flex-row justify-content-center">
              <div class="d-flex flex-row align-items-center">
                <i data-feather="frown" class="icons-lg icon-dual-danger mr-2"></i>
                <h4 class="h4">No transactions yet!</h4>
              </div>
            </div>
          </ng-container>
          <ng-template #showTable>
            <table id="basic-datatable" class="table datatables dt-responsive nowrap">
              <thead>
                <tr>
                  <th sortable="id" (sort)="onSort($event)">ID</th>
                  <th sortable="agent_msisdn" (sort)="onSort($event)">Agent Number</th>
                  <th sortable="customer_msisdn" (sort)="onSort($event)">Customer Number</th>
                  <th sortable="amount" (sort)="onSort($event)">Amount</th>
                  <th sortable="commission" (sort)="onSort($event)">Commission</th>
                  <th sortable="serviceName" (sort)="onSort($event)">Service</th>
                  <th sortable="status" (sort)="onSort($event)">Status</th>
                  <th sortable="date_created" (sort)="onSort($event)">Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr tr *ngFor="let row of transactions$">
                  <td>
                    <ngb-highlight [result]="row.id" [term]="transactionsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="row.agent_msisdn" [term]="transactionsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="row.customer_msisdn" [term]="transactionsService.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="row.amount | currency: 'ZMW '" [term]="transactionsService.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="row.commission | currency: 'ZMW '"
                      [term]="transactionsService.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="row.serviceName" [term]="transactionsService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight class="badge badge-soft-{{ row.statusColor }} badge-pill"
                      [result]="row.statusText | titlecase" [term]="transactionsService.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="row.date_created | date: 'd MMM y, h:mm:ss a': 'CAT'"
                      [term]="transactionsService.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <button type="button" class="btn btn-light" (click)="viewTransaction(row)">More Details</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{transactionsService.startIndex + 1}} to
                  {{transactionsService.endIndex}} of {{transactionsService.totalRecords}}
                  entries
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                  <ngb-pagination [collectionSize]="total$" [(page)]="transactionsService.page"
                    [pageSize]="transactionsService.pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true">
                  </ngb-pagination>
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
